/**header**/
*
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
/**header**/
.navbar{
	margin-bottom:0 !important; 
}
.logo-img{
	padding-right: 3px; 
	display: inline-block;
	width: 100px;
}
.navbar-brand{
	font-weight: bold; 
	color: #5e5e5e !important;
	letter-spacing: 2px;
}
.navbar-toggler{
	background-color:red;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(94, 94, 94, 1)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: #fff;
}
.navbar-nav{
	float: left;
}
.nav-item a{
	color:#5e5e5e;
	letter-spacing: 2px;
}
.nav-item{
	padding-right: 1rem;
}
.nav-link{
	margin-left: 1rem;
}
.navbar-nav li a:hover{
	background-color: #df5b5b;
	color: white;
}

.header{
 color: #5e5e5e !important;

}

@media only screen and (min-width: 992px) {
	.header{
		 padding-top: 5rem;
	}
}
@media only screen and (max-width: 990px) {
	.header{
		padding-top: 1rem;
	}

}
#banner .row{
	margin-bottom: 0rem;
}

#signup a{
	color:#5e5e5e;
	letter-spacing: 2px;
	background-color: #df5b5b;
	color: white;
	padding: 1rem;
	display: block;
	text-align: center;
	margin-bottom: 0.75rem;
	border-radius: 1rem;
}

#signup a:hover{
	text-decoration: none;
	background-color: #39659f !important;
}

.btn .btn-primary{
	padding-top: 3rem;
}
/**data**/
.title1::before{
	content: ' '; 
	background: #39659f;
	height: 5px; 
	width: 200px; 
	margin-left: auto; 
	margin-right: auto; 
	display: block; 
	transform: translateY(63px);

}

@media only screen and (min-width:530px)
{
.title1::before
	{

	}
}

#data{
	padding: 40px 80px;
	background: #f8f9fa;
	color: #5e5e5e;
}
.service-img{
	width: 170px;
	height: 170px; 
	margin-top: 20px;
}
.data-col{
	padding:20px;

}
.data-col h4{
	padding: 4px; 
	margin-top: 25px;
	text-transform: uppercase;
}

/**ways you can help**/
#ways-to-help{
	padding: 40px 80px;
	color: #5e5e5e;
}
.service-img{
	width: 170px;
	height: 170px; 
	margin-top: 20px;
}
.data-col{
	padding:20px;

}
.data-col h4{
	padding: 4px; 
	margin-top: 25px;
	text-transform: uppercase;
}

/**social media feed**/
#social-feed{
	padding: 40px 80px;
}



/**footer**/
.footer
{
	background-color: #2F5381;
	color: white;
	padding-bottom: 3rem;
	
}
.link-style
{
	border-bottom: 1px solid;
	padding-bottom: 0px;
	padding-top: 10px;
	text-decoration: none !important;
}
.link-6
{
	padding-bottom: 0px;
	padding-top: 10px;
	text-decoration: none !important;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(94, 94, 94, 1)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
} 

.navbar-toggler 
{
	outline: none !important;
}

@media only screen and (max-width:960px)
{
	.footer-widget
	{
	background-image: linear-gradient(#ff9800, #a46406);
	padding-top: 10px;
		}
}

i{
	padding-right: 1rem;
}

/**our organizations page**/
#banner-orgs{
	color: #5e5e5e;
}
#partner-logos{
	background: #f8f9fa;
}

/**issues page**/
.col-xl-7{
	margin-right:1rem;
}

.issues
{
	color: #fff;
	padding-top: 3rem;
	padding-bottom: 3rem;


}

.issues h1
{
	font-weight: bolder;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 10px;
}

.issues h2
{
	text-align: left;
	font-weight: bold;
	font-size: 20px;
}

.issues p
{
	float: left;
	padding: 10px;
}

@media only screen and (max-width:960px)
{
	.footer-widget
{
	
	background-image: linear-gradient(#ff9800, #a46406);
	padding-top: 10px;
}
}

/**social media tookit**/
li{
	padding-top: .75rem;
	list-style: none;
}
ul{
	padding-left: 3rem;
}
#help{
	background: #f8f9fa;
}
#logo{
	background: #f8f9fa;
}

/**blog**/
.btn 
{
	color: white !important;
	background-color: #df5b5b !important;
}
.btn:hover{
	background-color: #39659f !important;
}
.card-header{
	background-color: #2F5381 !important;
	color: white !important;
}
.card-footer{
	background-color: #2F5381 !important;
	color: white !important;
}
/**get involved*/
.str-inv h2
{
	font-size: 1.5rem;
	font-weight: 600;
	padding-left: 3rem;
	padding-top: 1.51rem;

}
/**news*/
#news{
	padding: 40px 80px;
	color: #5e5e5e;
	background: #f8f9fa;
}
/**get involved**/
.sign-btn{
	color: white; 
}
.sign-btn:hover{
	color: white !important;
	text-decoration: none; 
	font-weight: 600;
	font-size: 1.3rem;

}

/**take action**/
/**hover flip**/
#f1_container {
  position: relative;
  margin: 10px auto;
  width: 251px;
  height: 274px;
  z-index: 1;
}
#f1_container {
  perspective: 1000;
}
#f1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 3.0s linear;
}
#f1_container:hover #f1_card {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-align: center;
  background-color: #aaa;
}

/**click flip**/


label {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: block;
    width: 251px;
    height: 274px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.card {
    position: relative;
    height: 100%;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 600ms;
    transition: all 600ms;
    z-index: 20;
}

    .card div {
        position: absolute;
        height: 100%;
        width: 100%;
        background: #FFF;
        text-align: center;
        line-height: 274px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 2px;
    }

    .card .back {
        background: #222;
        color: #FFF;
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
    }

label:hover .card {
    -webkit-transform: rotateX(20deg);
    transform: rotateX(20deg);
    box-shadow: 0 20px 20px rgba(50,50,50,.2);
}

input {
    display: none;
}

:checked + .card {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
}

label:hover :checked + .card {
    transform: rotateX(160deg);
    -webkit-transform: rotateX(160deg);
    box-shadow: 0 20px 20px rgba(255,255,255,.2);
}